@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/nav.css);
@import url(../blocks/recipes.css);
@import url(../blocks/reservation.css);
@import url(../blocks/form.css);

.menu{
  background:#fff url(../images/background_menu.svg);
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.menu__title{
  margin: 0 0 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle{
  margin: 0 0 100px;
  max-width: 780px;
  text-align: center;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

}

.menu__cards{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}

.card{ width: 540px;
}

.card__title{
  margin: 0;
}

.card__list{
  list-style-type: none;
  padding: 0;

  }

.card__list-item{
  display: flex;
  gap:10px;
}

.card__list-divider{
  flex-grow: 1;
  border-bottom: 1px solid black;
}







